<main class="container">
  <table>
    <thead>
      <tr>
        <th>Facility Name</th>
        <th>First Name</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'contact', collection: @data %>
    </tbody>
  </table>

  
</main>